.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



/* Autor */
/* p.author {
  text-align: center;
  margin-top: 2rem;
  font-size: 14px;
  color: #bbb;
  display: flex;
  justify-content: center;
  gap: 6px;
}

p.author a {
  color: #40c9ff;
  font-weight: 700;
  text-decoration: none;
} */